

section{
    background-color:var(--color-yellow-700);
}
.main-section{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: center;
}
.main-section .trip-quote{
    text-align: center;
}
.main-section .trip-quote .main-title{
    font-size: calc(2.3em + 0.8vw);
    margin-top: 100px;
}
.main-section .trip-quote .sub-title{
    font-size: calc(1em + 0.5vw);
    color: var( --color-black-300);
    margin: 30px 0;
}
.main-section .choose-trip{
    flex: 1;
    display: flex;
    margin: 3% 0;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
}
.main-section .choose-trip .choose-trip-box:nth-child(2){
    background-color: var( --color-yellow-400);
}

/* .main-section .choose-trip .choose-trip-box:hover,
.main-section .choose-trip .choose-trip-box:active{
   animation: none;
   background-color: var(--color-yellow-400);
} */
.main-section .choose-trip .choose-trip-box{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(0.5em + 0.8vw);
    font-size: calc(0.8em + 0.8vw);
    background-color: #fff;
    animation: pulse 2s infinite;
    border-radius: 20px;

}
.main-section .choose-trip .choose-trip-box i{
    margin-left: 10%;
}


/* animation start */

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
        box-shadow: 0 0 0 20px rgba(204,169,44, 0);
        box-shadow: 0 0 0 15px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
/* animation end */






.main-section .explore-trip-box{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 80vw;
    margin-bottom: 2%;
    border-radius: 10px;
    
}
.main-section .explore-trip-box .explore-box{
    flex: 1;
    display: flex;
    flex-direction: column;
   position: relative;
    padding: 2%;

}
.main-section .explore-trip-box .explore-box.info::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-left: 2px solid #8C8C8C;
    height: 40%;
}
.main-section .explore-trip-box .explore-box .sup-title{
    font-size: calc(0.6em + 0.8vw);
    color: #8C8C8C;
}
.main-section .explore-trip-box .explore-box .main-title{
    font-size: calc(0.8em + 0.8vw);
   
}

.main-section .explore-trip-box .explore-box.btn {
   
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(0.3em + 0.8vw);
}
.main-section  .explore-box.btn button{
    color: #000;
    background-color:  #ECD540;
    border-radius: 40px;
    font-size: calc(0.3em + 0.8vw);
    padding: 5% 12%;
    outline: 0;
    border: 0;
  
    
}

.main-section .input{
    display:none;
}
/* responsive sectoin one *//* responsive sectoin one *//* responsive sectoin one *//* responsive sectoin one */
/* responsive sectoin one *//* responsive sectoin one *//* responsive sectoin one *//* responsive sectoin one */
/* responsive sectoin one *//* responsive sectoin one *//* responsive sectoin one *//* responsive sectoin one */
@media screen and (max-width: 600px){
    
    .main-section .trip-quote .main-title{
        font-size: calc(1.5em + 0.8vw);
    }
    .main-section .trip-quote .sub-title{
        font-size: calc(0.8em + 0.5vw);
    }
   
    .main-section .explore-trip-box{
        width: 95vw;
    }
    .main-section  .explore-box.btn button{
        font-size: calc(0.8em + 0.5vw) ;
    }


   

}
/* سکشن دوم */
/* شروع پیشنهاد کارت ها */

section .carts.adventure{
    display: none;

}
section .carts.adventure.active{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 10px;
    align-items: center; 
    justify-content: center;
  
}
section .carts.holidays{
    display:none;
}
section .carts.holidays.active{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 10px;
    align-items: center; 
    justify-content: center;
}
section .carts .vacation-carts{
    flex-basis:calc(25% - 20px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:var(--color-white-900);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
section .carts .vacation-carts .image-carts{
    flex: 1;
}
section .carts .vacation-carts .image-carts img{
    width: 100%;
    height: 30vh;
}
section .carts .vacation-carts .offer-info{
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
section .carts .vacation-carts .offer-info .main-title{
    flex: 1;
    font-size: calc(0.3em + 1vw);
}
section .carts .vacation-carts .offer-info .price-sup-title{
    flex: 1;
    font-size: calc(0.1em + 0.8vw);
    color:var( --color-black-300);
}
section .carts .vacation-carts .offer-info .price{
    flex: 1;
    font-size: calc(0.1em + 1vw);
}
section .carts .vacation-carts .offer-info .guide-sup-title{
    flex: 1;
    color:var( --color-black-300);
    font-size: calc(0.1em + 0.8vw);
}
section .carts .vacation-carts .offer-info .guide{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
section .carts .vacation-carts .offer-info .guide .guide-img{
    max-width:calc(30px + 0.8vw);
    border-radius: 50%;
    flex: 1;
   
}
section .carts .vacation-carts .offer-info .guide .guide-name{
    flex: 1;
    font-weight: 600;
    margin-right: 5%;
    font-size: calc(0.1em + 0.8vw);
}


/*start
/* responsive sectoin two *//* responsive sectoin two *//* responsive sectoin two */
/* responsive sectoin two *//* responsive sectoin two *//* responsive sectoin two */
/* responsive sectoin two *//* responsive sectoin two *//* responsive sectoin two */

@media screen and (max-width: 600px){
   
   
    section .carts .vacation-carts .offer-info{
        margin-bottom:0 ;
    }
    section .carts .vacation-carts .image-carts img{
        height: 20vh;  
    }

    section .carts .vacation-carts{
        flex-basis:calc(50% - 20px);
    }
    section .carts .vacation-carts .offer-info{
        font-size: calc(2em + 0.8vw);
    }
    section .carts .vacation-carts .offer-info *{
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 600px) and (max-width:900px) {
    section .carts .vacation-carts .image-carts img{
        height: 20vh;  
    }

    section .carts .vacation-carts{
        flex-basis:calc(33% - 20px); 
    }

}

/*end
/* responsive sectoin two *//* responsive sectoin two *//* responsive sectoin two */
/* responsive sectoin two *//* responsive sectoin two *//* responsive sectoin two */
/* responsive sectoin two *//* responsive sectoin two *//* responsive sectoin two */
/* سکشن سوم */

.interduce-guides{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var( --color-black-600);
}

.interduce-guides .main-title{
flex: 1;
color:var(--color-white-900);
font-size: calc(1em + 0.8vw);
margin: 8% 10%;
text-align: center;
text-wrap: balance;
}
.interduce-guides .arrow {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.interduce-guides .arrow span{
    flex: 88%;
}
.interduce-guides .arrow i{
    flex: 12%;
    font-size:2em ;
    color: var(--color-white-900);
}
.interduce-guides .area{
   flex: 1;
margin:0 0 0 20%;
}
.interduce-guides .area .guides-carts {
border-radius: 10px;
overflow: hidden;
background-color:var(--color-white-900)
}
.interduce-guides .area .guides-carts .carts-image{
    position: relative;
}

.interduce-guides .area .guides-carts .carts-image .main-image{
    width: 100%;
    height: 15vh;
}
.interduce-guides .area .guides-carts .carts-image .sub-image{
    position: absolute;
    bottom: -15px;
    left: 5%;
    width: 40px;
    border: 5px solid var(--color-white-900);
    border-radius: 50%;
}
.interduce-guides .area .guides-carts .info {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.interduce-guides .area .guides-carts .info .guide-name{
    font-size: calc(0.3em + 1vw);
    margin-top: 5%;
}
.interduce-guides .area .guides-carts .info-filed{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top:2% ;
}
.interduce-guides .area .guides-carts .info-filed .sup-info{
    color:var(--color-black-300);
    font-size: calc(0.2em + 1vw);
}
.interduce-guides .area .guides-carts .info-filed .main-info{
    font-size: calc(0.3em + 1vw);
}
.interduce-guides .area .guides-carts .info .rating .sup-info{
    color:var(--color-black-300);
    font-size: calc(0.2em + 1vw);
    flex: 1;
}
.interduce-guides .area .guides-carts .info .rating{
    display: flex;
    flex-direction: column;
}
.interduce-guides .area .guides-carts .info .rating .stars {
    flex: 1;
}
.interduce-guides .area .guides-carts .info .rating .stars i{
    color:var(--color-yellow-900);
    font-size: calc(0.2em + 0.5vw);
}
.interduce-guides .area .guides-carts .info .rating .stars span{
    margin-right: 3%;
    font-size: calc(0.2em + 1vw);
    flex: 1;
}


@media screen and (min-width:900px) {
    .interduce-guides .area .guides-carts .carts-image .main-image{
        height: 30vh;
        
    }
}










/* شروع گالری تصاویر *//* شروع گالری تصاویر *//* شروع گالری تصاویر */
section .gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var( --color-yellow-700) ;
    gap: 100px 0;
}
section .gallery .gallery-title{
    flex: 1;
    font-size:  calc(1em + 0.8vw);
     margin-top: 100px;
     text-wrap: balance;

     
}

section .gallery .pictuers{
    background-color: var( --color-yellow-700);
    flex: 1;
}
section .gallery .pictuers .pic{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease;
}
section .gallery .pictuers .pic .info{
  
    position: absolute;
    bottom:10px;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--color-white-900);
    padding: 10px;
    opacity: 0;
    transition: all 0.5s;
    width: 100%;
    text-align: center;
}
section .gallery .pictuers .pic:hover{
    transform: scale(1.1);
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
   
}
section .gallery .pictuers .pic:hover .info{
    opacity: 1;
}
.pictuers .owl-next,
.pictuers .owl-prev {
  font-size: 80px !important;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
}
.pictuers .owl-next {
  left: 12px;
}
.pictuers .owl-prev {
  right: -8px;
}
@media screen and (max-width:600px) {
.pictuers .owl-next,
.pictuers .owl-prev {
    font-size: 50px !important;
}
.pictuers .owl-next{
    left: 7px;
    
}

section .gallery .gallery-title{
   margin-left: 40px;
   margin-right: 40px;
}
section .gallery .pictuers .pic:hover{
    transform: scale(1.1);
    border-radius: 20px;
  
}
section .gallery .pictuers .pic .info{
font-size: 0.5em;
}

    
}


  





 





/* پایان گالری تصاویر *//* پایان گالری تصاویر *//* پایان گالری تصاویر */


 
















